@use "./../../sass/" as *;

.signup-container {
  position: absolute;
  top: 110px;
  left: 16px;
  z-index: 3000;
  min-height: 43.688rem;
  width: 21.613rem;
  background-color: map-get($theme-colors, "white");
  color: map-get($theme-colors, "brown");
  transform: translateY(-30px);

  &__wrapper {
    height: 30.438rem;
    @include flex(column, center, center);

    > img {
      width: 30px;
      margin-top: 210px;
    }

    > h1 {
      line-height: 38.34ppx;
      text-align: center;
      width: 305px;
      margin-top: 6px;
      @include font("PT Serif", 32px, 700, normal);
    }

    > h2 {
      font-optical-sizing: auto;
      text-align: center;
      width: 305px;
      margin-top: 2x;
      @include font("Work Sans", 14px, 400, normal);
    }
  }
}

.form__group input {
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%;
  padding: 10px;
  color: #2f2926;
}

.error {
  font-size: 13px;
  background-color: rgb(255, 0, 0, 0.3);
}

.failed {
  align-self: center;
  background-color: rgba(155, 51, 6, 0.6);
  width: 60%;
  text-align: center;
  padding: 4px;
  border-radius: 1px;
  font-optical-sizing: auto;
  border: solid 1px #2f2926;
  @include font("Work Sans", 16px, 400, normal);
}
