.login-container {
  height: 42.688rem;
  width: 21.313rem;
  background-color: white;
  margin: auto;
  transform: translateY(-30px);
  color: #2f2926;
  position: relative;

  &__wrapper {
    height: 30.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    > img {
      width: 30px;
      margin-top: 180px;
    }

    > h1 {
      font-family: "PT Serif", serif;
      font-weight: 700;
      font-style: normal;
      line-height: 38.34ppx;
      font-size: 32px;
      text-align: center;
      width: 305px;
      margin-top: 12px;
    }

    > h2 {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      text-align: center;
      width: 305px;
      margin-top: 5px;
      margin-bottom: 0px;
    }
  }
}

.form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  &__group {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    > input {
      width: 19.375rem;
      height: 3rem;
      border-radius: 6px;
      border: solid 1px #2f2926;
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
    }

    > label {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      margin-top: 15px;
      margin-bottom: 8px;
    }
  }

  &__radio {
    margin: 14px auto 14px 0;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    display: flex;
    align-items: center;
    gap: 5px;
  }

  &__button {
    width: 80%;
    align-self: center;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: normal;
    color: #ffffff;
    font-size: 24px;
    background-color: #2f2926;
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 15px;
  }
}

input {
  cursor: pointer;
  accent-color: #0e927d;
}

a {
  cursor: pointer;
}

.alternatives-link {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin-top: 30px;

  :nth-child(1),
  :nth-child(3) {
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    border: solid 1px #2f2926;
    padding: 6px;
    width: 120%;
    text-align: center;
    border-radius: 5px;
  }
  :nth-child(1) {
    animation: sparkle 4s infinite linear;
  }
}
@keyframes sparkle {
  0% {
    background-color: rgb(156, 226, 215), 0, 4;
  }
  25% {
    background-color: rgb(133, 176, 131), 0, 4;
  }
  50% {
    background-color: #0000ff33;
  }
  80% {
    background-color: rgba(192, 192, 234, 0.2);
  }
  100% {
    box-shadow: -4px -5px 47px 0px rgba(0, 0, 0, 0.75);
  }
}

.green {
  color: #0e927d;
  text-decoration: underline;
  font-size: 22px;
}

.success {
  align-self: center;
  background-color: rgb(0, 128, 0, 0.6);
  width: 60%;
  text-align: center;
  padding: 4px;
  border-radius: 1px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 16px;
  font-style: bold;
  font-weight: 400;
  border: solid 1px #2f2926;
}
