@use "./../sass/" as *;

.about-container {
  height: 66.313rem;
  width: 23.438rem;
  background-color: #f3e4e1;
  position: relative;
  gap: 30px;
  @include flex(column, space-between, center);

  &__main {
    height: 64rem;
    padding: 0 0 5px 50px;
    color: #2f2926;
    @include flex(column, space-between, center);

    > h1 {
      line-height: 120%;
      align-self: flex-start;
      margin-left: -20px;
      @include font("PT Serif", 42px, bold, normal);
    }

    > h2 {
      font-optical-sizing: auto;
      line-height: 160%;
      margin: 12px 0;
      @include font("Work Sans", 14px, 600, normal);
    }

    > p {
      font-optical-sizing: auto;
      line-height: 160%;
      margin: 6px 10px 11px 0;
      @include font("Work Sans", 12px, 600, normal);
    }
  }
}

figure {
  margin-top: 60px;
  @include flex(column, center, center);
  > img {
    width: 74px;
    margin-right: 58px;
  }

  figcaption > h3 {
    line-height: 160%;
    margin-right: 54px;
    @include font("PT Serif", 22px, bold, normal);
  }
  figcaption > p {
    text-align: center;
    margin-right: 46px;
    font-optical-sizing: auto;
    line-height: 160%;
    @include font("Work Sans", 12px, 500, normal);
  }
}

.toMenuBtnFromAboutUs {
  transform: translate(114px, -124px);
  background-color: rgb(255, 69, 0, 0.55);
  padding: 14px;
  border-radius: 50px;
  color: #f3e4e1;
  font-size: 22px;
}
