@use "./../sass/" as *;

.home-container {
  height: 41.688rem;
  width: 23.438rem;
  background-color: #38846d;
  @include flex(column, center, center);
}

.logo-container {
  position: relative;
  @include flex(column, center, center);
  &__image {
    width: 64px;
    z-index: 10;
    margin-top: 12px;
  }

  &__text > h1 {
    color: map-get($theme-colors, "white");
    @include font("Rufina", 42px, 700, normal);
  }

  &__text > h2 {
    color: map-get($theme-colors, "white");
    font-optical-sizing: auto;
    letter-spacing: 2.7px;
    @include font("Work Sans", 9px, 400, normal);
  }

  &__frame-left {
    height: 41.688rem;
    width: 10.563rem;
    position: absolute;
    right: 120.5px;
    transform: translateY(-404px);
    z-index: 1;
  }
  &__frame-right {
    height: 41.688rem;
    width: 8.938rem;
    position: absolute;
    left: 146.5px;
    transform: translateY(-405px);
    z-index: 1;
  }
}

a {
  text-decoration: none;
}

.loader {
  width: 300px;
}
