@use "./../sass/" as *;

.order-container {
  width: 23.438rem;
  height: 41.688rem;
  background-color: #e5674e;
  padding: 80px;
  @include flex(column, space-between, center);

  &__orderNr {
    text-align: center;
    width: 279px;
    color: rgb(255, 255, 255, 0.7);
    font-optical-sizing: auto;
    line-height: 120%;
    @include font("Work Sans", 16px, 300, normal);

    > span {
      font-weight: bold;
    }
  }

  &__text {
    color: map-get($theme-colors, "white");
    line-height: 120%;
    width: 279px;
    text-align: center;
    @include font("PT Serif", 36px, bold, normal);
  }

  &__eta {
    color: #ffffff;
    font-family: "Work Sans", sans-serif;
    font-optical-sizing: auto;
    line-height: 120%;
    margin-top: -30px;
    @include font("Work Sans", 22px, bold, normal);
    > span {
      font-weight: 200;
    }
  }

  &__button {
   
    color: map-get($theme-colors, "brown");
     line-height: 120%;
    padding: 20px 40px;
    border-radius: 50px;
    width: 184px;
    height: 55px;
    @include flex(default, center, center);
    @include font("PT Serif", 24px, bold, normal);
  }
}
