@use "./../sass/" as *;
.profile-wrapper {
    background-color:map-get($theme-colors, "brown");
    min-height: 49.688rem;
    width: 23.438rem;
    position: relative;
}

.render {
  background-color: map-get($theme-colors, "white");
}

