.about-container {
  height: 66.313rem;
  width: 23.438rem;
  background-color: #ffffff;
  /*  @include flex($justify:center, $align:center); */

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
