.cart-container {
  position: relative;
  overflow: hidden;
  z-index: 20;
  line-height: 120%;
  bottom: 70px;
  left: 18px;
  color: #2f2926;
  opacity: 0;
  animation: fadeInAnimation 0.5s ease forwards;

  &__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: normal;
    line-height: 120%;
  }

  &__item-p {
    display: flex;
    flex-direction: column;
    font-size: 20px;
    font-weight: 900;
    line-height: 120%;

    > span {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-style: normal;
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }

  &__item-dots {
    position: absolute;
    left: 80px;
    color: rgb(0, 0, 0, 0.4);
    width: 192px;
    overflow: hidden;
    margin-bottom: 10px;
  }

  &__quantityDiv {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: 15px;

    > p {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 14px;
      font-style: normal;
      padding: 6px;
    }
  }
}

.vector {
  cursor: pointer;
}

.vector:hover {
  scale: 1.8;
}

.cart-container__list {
  width: 21.313rem;
  min-height: 35.941rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  background-color: #ffffff;
  > h1 {
    font-size: 32px;
    text-align: center;
    padding-top: 45px;
  }
}

.cart-container__list ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  list-style-type: none;
  padding: 15px;
  color: #2f2926;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: normal;
  margin-bottom: 15px;
}

.arrow-up {
  margin-left: 300px;
  z-index: -2;
  transform: translateY(8px);
}

.cart-container-total {
  display: flex;
  justify-content: space-between;
  align-items: start;
  font-weight: 900;
  line-height: 120%;
  font-size: 23px;
  padding: 15px;
  &__dots {
    color: rgb(0, 0, 0, 0.4);
    /* margin-top: 3px; */
    margin-left: -110px;
  }

  &__text {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-family: "PT Serif", serif;
    font-weight: bold;
    font-style: normal;
    line-height: 120%;

    > span {
      font-family: "Work Sans", sans-serif;
      font-optical-sizing: auto;
      font-size: 14px;
      font-style: normal;
      font-size: 12px;
      font-weight: 400;
      line-height: 130%;
    }
  }
}

.toCashButton {
  width: 80%;
  align-self: center;
  font-family: "PT Serif", serif;
  font-weight: bold;
  font-style: normal;
  color: #ffffff;
  font-size: 24px;
  background-color: #2f2926;
  padding: 10px;
  margin-bottom: 40px;
  border-radius: 50px;
}

.remove-icon {
  width: 18px;
  position: absolute;
  transform: translateX(300px);
  cursor: pointer;
}

.clearCartButton {
  width: 40%;
  align-self: center;
  border-radius: 10px;
  font-family: "Work Sans", sans-serif;
  font-optical-sizing: auto;
  font-size: 11px;
  font-style: normal;
  font-size: 12px;
  color: #2f2926;
  padding: 3px;
  cursor: pointer;
}
