.history-wrapper {
  background-color: #2f2926;
  min-height: 36.688rem;
  width: 23.438rem;
  position: relative;
}
.history-container {
  width: 100%;
  min-height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: start;
  padding: 18px;
}

.history-header {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;

  > img {
    width: 94px;
  }

  > h1 {
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-style: normal;
    line-height: 120%;
    font-weight: bold;
    font-size: 24px;
    margin-top: 15px;
  }

  > h2 {
    font-family: "Work Sans", sans-serif;
    font-weight: 200;
    font-size: 14px;
    line-height: 120%;
    color: rgb(255, 255, 255, 0.8);
  }
}

.history-list-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;

  padding: 20px;
  > h3 {
    color: #ffffff;
    font-family: "PT Serif", serif;
    font-style: normal;
    line-height: 120%;
    font-weight: bold;
    font-size: 22px;
    margin-top: 28px;
  }

  > ul {
    list-style-type: none;
  }
}

.orderNrAndDate {
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  color: rgb(255, 255, 255, 0.7);
  margin: 4px auto;

  > :nth-child(2) {
    font-weight: 300;
  }
}

.totalOrderSum {
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-weight: 300;
  font-size: 12px;
  line-height: 120%;
  color: rgb(255, 255, 255, 0.5);
  padding: px auto;
}

.hr {
  width: 100%;
  color: rgb(255, 255, 255, 0.08);
  margin: 8px 0;
}

.bigHr {
  width: 90%;
  color: rgb(255, 255, 255, 0.08);
  margin: -6px 5px auto 8px;

  align-self: center;
  padding: 0 20px;
}

.totalSum {
  width: 90%;
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-weight: bold;
  font-size: 14px;
  line-height: 120%;
  color: rgb(255, 255, 255, 0.8);
  margin-bottom: 76px;
  margin-left: 19px;
}

.toMenuBtn {
  position: absolute;
  left: 308px;
  top: 12px;
  background-color: rgb(255, 69, 0, 0.7);
  padding: 14px;
  border-radius: 50px;
  color: #f3e4e1;
  font-size: 22px;
}
