@use "./../sass/" as *;

.history-wrapper {
  background-color: map-get($theme-colors, "brown");
  min-height: 36.688rem;
  width: 23.438rem;
  position: relative;
}
.history-container {
  width: 100%;
  min-height: 500px;
  padding: 18px;
  @include flex(column, space-around, start);
}

.history-header {
  width: 100%;
  gap: 5px;
  @include flex(column, default, center);
  > img {
    width: 94px;
  }

  > h1 {
    color: map-get($theme-colors, "white");
    line-height: 120%;
    margin-top: 15px;
    @include font("PT Serif", 24px, bold, normal);
  }

  > h2 {
    line-height: 120%;
    color: rgb(255, 255, 255, 0.8);
    @include font("Work Sans", 14px, 200, default);
  }
}

.history-list-wrapper {
  width: 100%;
  @include flex(column);
  gap: 20px;

  padding: 20px;
  > h3 {
    color: map-get($theme-colors, "white");
    line-height: 120%;
    margin-top: 28px;
    @include font("PT Serif", 22px, bold, normal);
  }

  > ul {
    list-style-type: none;
  }
}

.orderNrAndDate {
  line-height: 120%;
  color: rgb(255, 255, 255, 0.7);
  margin: 4px auto;
  @include font("Work Sans", 14px, bold, normal);
  @include flex(default, space-between);

  > :nth-child(2) {
    font-weight: 300;
  }
}

.totalOrderSum {
  line-height: 120%;
  color: rgb(255, 255, 255, 0.5);
  padding: px auto;
  @include font("Work Sans", 12px, 300, normal);
  @include flex(default, space-between);
}

.hr {
  width: 100%;
  color: rgb(255, 255, 255, 0.08);
  margin: 8px 0;
}

.bigHr {
  width: 90%;
  color: rgb(255, 255, 255, 0.08);
  margin: -6px 5px auto 8px;

  align-self: center;
  padding: 0 20px;
}

.totalSum {
  width: 90%;
  line-height: 120%;
  color: rgb(255, 255, 255, 0.8);
  margin-bottom: 76px;
  margin-left: 19px;
  @include flex(default, space-between);
  @include font("Work Sans", 14px, bold, normal);
}

.toMenuBtn {
  position: absolute;
  left: 308px;
  top: 12px;
  background-color: rgb(255, 69, 0, 0.7);
  padding: 14px;
  border-radius: 50px;
  color: #f3e4e1;
  font-size: 22px;
}
