@use "./../sass/" as *;

.menu-container {
  height: fit-content;
  width: 23.438rem;
  background-color: rgba(242, 227, 225, 204);
  opacity: 0;
  animation: fadeInAnimation 4s ease forwards;
}

@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.menu-list-wrapper {
  gap: 40px;
  padding: 30px;
  color: #2f2926;
  line-height: 120%;
  @include flex(column, space-around, center);
  @include font("PT Serif", inherit, bold, normal);
}

.menu-list {
  list-style-type: none;
  gap: 40px;
  max-width: 311px;
  min-height: 500px;
  @include flex(column, default, center);
  &__item {
    @include flex(default, default, center);
    div {
      width: 194px;
      overflow: hidden;
      padding: 0;
    }

    div > h2 {
      font-size: 23px;
    }

    div > p {
      font-optical-sizing: auto;
      @include font("Work Sans", 12px, default, normal);
    }
  }
  
  .menu-list__item-desc {
    @include font("Work Sans", 12px, 400, normal);
  }
  aside {
    width: 200px;
    position: relative;
    @include flex(default, default, center);
  }
  aside &__item-price {
    font-size: 23px;
    transform: translateX(-90px);
    width: 250px;
    margin-bottom: 20px;
  }
}

h1 {
  text-align: center;
  font-size: 42px;

  margin-left: 8px;
}

.addButton {
  width: 64px;
  height: 64px;
  margin-left: 90px;
  margin-bottom: 5px;
  cursor: pointer;
  border-radius: 50%;
}

.addButton:hover {
  scale: 1.1;
  background-color: rgb(47, 41, 38, 0.2);
}

.menu-container__item-dots {
  color: rgb(0, 0, 0, 0.4);
  width: 121px;
  margin-bottom: 15px;
  transform: translateX(-130px);
}

.greetings-container {
  width: 80%;
}

.greetings-box {
  font-optical-sizing: auto;
  color: #2f2926;
  @include font("Work Sans", 20px, default, normal);
  min-width: 270px;
  padding: 2px 22px;
  color: rgb(14, 146, 125);
  text-shadow: 2px 2px 2px #b4b0af;
  @include flex(default, space-between, center);
}

.smallProfileImg {
  width: 27px;
  cursor: pointer;
}

.guest {
  padding-right: 20px;
  min-width: 250px;
  @include flex(default, space-evenly, center);
}

.logged {
  color: green;
  font-size: 50px;
  margin-left: -20px;
}
.unlogged {
  color: red;
  font-size: 50px;
  margin-left: -30px;
}
