.menu-container {
  min-height: 52.438rem;
 /*  height: fit-content; */
  width: 23.438rem;
  background-color: #ffffff;
  /*  @include flex($justify:center, $align:center); */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
