@use "./../sass/" as *;

.status-container {
  width: 23.438rem;
  height: 41.688rem;
  background-color: #e5674e;
  padding: 46px;
  position: relative;
  @include flex(column, space-between, center);

  &__orderNr {
    text-align: center;
    width: 279px;
    color: rgb(255, 255, 255, 0.7);
    font-optical-sizing: auto;
    line-height: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    @include font("Work Sans", 16px, 300, normal);
    > span {
      font-weight: bold;
    }
  }

  &__text {
    color: map-get($theme-colors, "white");
    line-height: 120%;
    width: 279px;
    text-align: center;
    @include font("PT Serif", 36px, bold, normal);
  }

  &__eta {
    color: map-get($theme-colors, "white");
    font-optical-sizing: auto;
    line-height: 120%;
    margin-top: 0px;
    @include font("Work Sans", 22px, bold, normal);
  }

  &__button {
    color: map-get($theme-colors, "brown");
    line-height: 120%;
    padding: 20px 40px;
    border-radius: 50px;
    width: 184px;
    height: 55px;
    @include flex(default, center, center);
    @include font("PT Serif", 24px, bold, normal);
  }
}

.status-overlay {
  z-index: 300;
  position: absolute;
  top: 0px;
  width: 24rem;
  height: 41.9rem;
  background-color: rgb(47, 41, 38, 0.93);
  @include flex(default, center, center);
  &__content {
    height: 300px;
    text-align: center;
    color: #d2a2a2;
    margin-bottom: 80px;
    @include flex(column, space-around, center);

    > h2 {
      padding: 20px;
      line-height: 120%;
      @include font("PT Serif", 36px, bold, normal);
    }

    p {
      text-align: center;
      font-optical-sizing: auto;
      font-size: 18px;
      @include font("Work Sans", 18px, default, normal);
    }
  }
}

.overlay-button {
  font-size: 22px;
}
