@use "./../../sass/" as *;

.cart-overlay {
  position: absolute;
  top: 18px;
  left: 0;
  width: 343px;
  height: 578px;
  background-color: rgb(243, 228, 225, 0.9);
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.cart-overlay.active {
  display: flex;
  z-index: 1000;
  gap: 100px;
  h2 {
    padding: 20px;
    line-height: 120%;
    @include font("PT Serif", 36px, bold, normal);
  }

  p {
    text-align: center;
    font-optical-sizing: auto;
    @include font("Work Sans", 18px, default, normal);
  }
}
