@use "./../../sass/" as *;

.login-container {
  height: 42.688rem;
  width: 21.313rem;
  background-color: map-get($theme-colors, "white");
  margin: auto;
  transform: translateY(-30px);
  color: map-get($theme-colors, "brown");
  position: relative;

  &__wrapper {
    height: 30.438rem;
    @include flex(column, center, center);

    > img {
      width: 30px;
      margin-top: 180px;
    }

    > h1 {
      line-height: 38.34ppx;
      text-align: center;
      width: 305px;
      margin-top: 12px;
      @include font("PT Serif", 32px, 700, normal);
    }

    > h2 {
      font-optical-sizing: auto;
      text-align: center;
      width: 305px;
      margin-top: 5px;
      margin-bottom: 0px;
      @include font("Work Sans", 16px, 400, normal);
    }
  }
}

.form {
  @include flex(column, space-around, default);

  &__group {
    @include flex(column, space-around, default);
    > input {
      width: 19.375rem;
      height: 3rem;
      border-radius: 6px;
      border: solid 1px #2f2926;
      font-optical-sizing: auto;
      @include font("Work Sans", 16px, 400, normal);
    }

    > label {
      font-optical-sizing: auto;
      margin-top: 15px;
      margin-bottom: 8px;
      @include font("Work Sans", 12px, 400, normal);
    }
  }

  &__radio {
    margin: 14px auto 14px 0;
    font-optical-sizing: auto;
    gap: 5px;
    @include font("Work Sans", 12px, 400, normal);
    @include flex(default, default, center);
  }

  &__button {
    width: 80%;
    align-self: center;
    color: map-get($theme-colors, "white");
    background-color: map-get($theme-colors, "brown");
    padding: 10px;
    border-radius: 50px;
    margin-top: 8px;
    margin-bottom: 15px;
    @include font("PT Serif", 24px, bold, normal);
  }
}

input {
  cursor: pointer;
  accent-color: #0e927d;
}

a {
  cursor: pointer;
}

.alternatives-link {
  gap: 12px;
  margin-top: 30px;
  @include flex(column, default, center);
  :nth-child(1),
  :nth-child(3) {
    font-optical-sizing: auto;
    border: solid 1px #2f2926;
    padding: 6px;
    width: 120%;
    text-align: center;
    border-radius: 5px;
    @include font("Work Sans", 20px, 400, normal);
  }
  :nth-child(1) {
    animation: sparkle 4s infinite linear;
  }
}
@keyframes sparkle {
  0% {
    background-color: rgb(156, 226, 215), 0, 4;
  }
  25% {
    background-color: rgb(133, 176, 131), 0, 4;
  }
  50% {
    background-color: #0000ff33;
  }
  80% {
    background-color: rgba(192, 192, 234, 0.2);
  }
  100% {
    box-shadow: -4px -5px 47px 0px rgba(0, 0, 0, 0.75);
  }
}

.green {
  color: #0e927d;
  text-decoration: underline;
  font-size: 22px;
}

.success {
  align-self: center;
  background-color: rgb(0, 128, 0, 0.6);
  width: 60%;
  text-align: center;
  padding: 4px;
  border-radius: 1px;
  font-optical-sizing: auto;
  border: solid 1px #2f2926;
  @include font("Work Sans", 16px, 400, bold);
}
