@use "./../../sass/" as *;

.nav-container {
  width: 23.438rem;
  min-height: 41.688rem;
  background-color: map-get($theme-colors, "brown");
  gap: 140px;
  padding: 16px;
  position: absolute;
  top: 80px;
  z-index: 20000;
  @include flex(column, flex-start, center);

  &__list {
    max-height: 160px;
    list-style-type: none;
    @include flex(column, space-between, default);

    > li {
      gap: 26px;
      @include flex(column, default, center);

      > hr {
        opacity: 0.2;
        margin-bottom: 16px;
        width: 42px;
      }

      > a {
        color: map-get($theme-colors, "white");
        line-height: 120%;
        @include font("PT Serif", 32px, bold, normal);
      }
    }
  }
  &__close-button {
    width: 48px;
    align-self: flex-start;
    cursor: pointer;
  }
}

.nav-container__list li:hover {
  scale: 1.2;
}

.logToggleButton {
  position: absolute;
  top: 20px;
  left: 260px;
  padding: 6px;
  border-radius: 6px;
  line-height: 120%;
  @include font("PT Serif", 22px, bold, normal);
}
